<footer id="footer">
  <nav>
    <ul>
      <li><span>Kube</span></li>
      <li>
        <a href="/company/">Company</a>
      </li>
      <li>
        <a href="/blog/">Blog</a>
      </li>
        <li>
        <a href="/docs/">Docs</a>
      </li>
      <li>
        <a href="http://twitter.com/{{.Site.Params.twitter}}">Give a shout-out on Twitter!</a>
      </li>
    </ul>
  </nav>
  <p>&copy; Licence MIT.</p>

  <div class="sprite">
  {{ partial "symbol/svg/sprite.symbol.svg" . }}
  </div>

  <script async src='/js/app.js'></script>
  <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/camanjs/4.1.2/caman.full.min.js"></script> -->
</footer>
